@model TblProduct

<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px text-danger"> Confirm Deletion? </h2>
</div>

<div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item"> Product Id : @Model.Prod_id</li>
            <li class="list-group-item"> Product Name : @Model.Prod_name</li>
            
            <a href="@Url.Action("deleteProduct", "Admin", new{id=Model.Prod_id})" class="btn btn-danger"> Delete Product</a>
            <a href="@Url.Action("fetchProduct", "Admin")" class="btn btn-warning"> Back to List</a>
        </ul>
        </div>
    <div class="col-md-2"></div>
</div>

